[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=UMLQT
Exec=/usr/bin/single-instance /opt/UMLQT/bin/UMLQT
Icon=/usr/share/icons/hicolor/80x80/apps/UMLQT80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
